<div class="wrapper">
  <div class="wound-image-container" (click)="addNewDot($event, true)">
    <div class="dots-wrapper">
      <div class="dots-container" #dotsContainer>
        <ng-container *ngFor="let position of dotsPositions">
          <div cdkDrag (cdkDragEnded)="dropped($event, position)" (cdkDragStarted)="onDragStart()" class="dot"
            [ngStyle]="{'left': position.x+'%', 'top' : position.y +'%'}">
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>